# Archivos del sistema
.DS_Store
Thumbs.db

# Dependencias (global)
**/node_modules/   # <- El doble ** cubre node_modules en cualquier subcarpeta

# Entornos
.env
.env.*
!.env.example      # <- Excepción: permite el archivo .env.example

# Logs y temporales
*.log
*.tmp
*.bak

# Backend
/dist
npm-debug.log*

# Frontend (Angular)
/dist
/.angular
/.cache

# Docker
docker-compose.override.yml
/database/data

# IDEs
.idea/
.vscode/
*.sln