<div class="filter-container mb-4">
  <form (ngSubmit)="onSubmit()" class="d-flex flex-wrap align-items-end gap-3">
    <div>
      <label for="filterType" class="form-label">Filtrar por</label>
      <select [(ngModel)]="filterType" name="filterType" class="form-select">
        <option value="name">Nombre</option>
        <option value="club">Club</option>
        <option value="nationality">Nacionalidad</option>
        <option value="fifaVersion">Versión FIFA</option>
      </select>
    </div>

    <div>
      <label for="filterValue" class="form-label">Valor</label>

      <!-- Input de texto para todos los filtros excepto fifaVersion -->
      <input *ngIf="filterType !== 'fifaVersion'" [(ngModel)]="filterValue" name="filterValue" class="form-control" type="text" />

      <!-- Selector para fifaVersion -->
      <select *ngIf="filterType === 'fifaVersion'" [(ngModel)]="filterValue" name="filterValue" class="form-select">
        <option *ngFor="let version of fifaVersions" [value]="version">{{ version }}</option>
      </select>
    </div>

    <div>
      <button type="submit" class="btn btn-outline-info">Aplicar</button>
    </div>
  </form>
</div>
